.calibrate-data table { width: 100%; }
.calibrate-data th { font-weight: bold; border-bottom: 1px solid #d8d8d8; }
.calibrate-data th, td { padding: 5px; width: 50%; text-align: center; }
.calibrate-data td { background-color: #f2f2f2; }